.profile__edit-button {
    width: 24px;
    height: 24px;
    background-image: url(/images/edit-button.png);
    background-color: #000;
    outline: none;
    cursor: pointer;
    background-position: center;
    background-repeat: no-repeat;
    margin-left: 18px;
    border: 2px solid #FFFFFF;
}
@media screen and (max-width: 576px) {
    .profile__edit-button {
        margin-left: 10px;
    }
}